@import 'assets/imports.styl'

@import 'css-assets/general'
@import 'css-assets/elements'
@import 'css-assets/blocks'
@import 'css-assets/layouts'
@import 'css-assets/effects'
@import 'css-assets/icons'

body
  background white


// MOVE

.post
  p + img
   margin-top gs

  img
    max-width 100%