@import 'assets/imports.styl'

@import 'css-assets/general'
@import 'css-assets/elements'
@import 'css-assets/blocks'
@import 'css-assets/layouts'
@import 'css-assets/effects'
@import 'css-assets/icons'

body
  background white


// MOVE

.post
  padding-bottom 2*gs
  p + img
   margin-top gs

  img
    max-width 100%

.comment
  &--text
    p
      display inline


.comment-respond
  margin-top 5*gs